{
    "openapi": "3.0.1",
    "info": {
        "title": "Text Analytics Client",
        "description": "The Text Analytics API is a suite of natural language processing (NLP) services built with best-in-class Microsoft machine learning algorithms.  The API can be used to analyze unstructured text for tasks such as sentiment analysis, key phrase extraction and language detection. Functionality for analysis of text specific to the healthcare domain and personal information are also available in the API. Further documentation can be found in <a href=\"https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/overview\">https://docs.microsoft.com/en-us/azure/cognitive-services/text-analytics/overview</a>",
        "contact": {
            "name": "Microsoft Cognitive Services",
            "url": "https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/",
            "email": "mlapi@microsoft.com"
        },
        "version": "v3.1"
    },
    "servers": [
        {
            "url": "https://westus.api.cognitive.microsoft.com/text/analytics/v3.1"
        }
    ],
    "security": [
        {
            "apim_key": []
        }
    ],
    "paths": {
        "/analyze": {
            "post": {
                "summary": "Submit analysis job",
                "description": "Submit a collection of text documents for analysis. Specify one or more unique tasks to be executed.",
                "operationId": "submitAnalysisJob",
                "requestBody": {
                    "description": "Collection of documents to analyze and tasks to execute",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyzeBatchInput"
                            }
                        },
                        "text/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnalyzeBatchInput"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "202": {
                        "description": "A successful call results with an Operation-Location header used to check the status of the analysis job",
                        "headers": {
                            "Operation-Location": {
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {}
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true,
                "x-codegen-request-body-name": "body"
            }
        },
        "/analyze/jobs/{jobId}": {
            "get": {
                "summary": "Get analysis status and results",
                "description": "Get the status of an analysis job.  A job may consist of one or more tasks.  Once all tasks are completed, the job will transition to the completed state and results will be available for each task.",
                "operationId": "getAnalysisJob",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/AnalyzeJobId"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "(Optional) Set the maximum number of results per task. When both $top and $skip are specified, $skip is applied first",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 50,
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        },
                        "x-ballerina-name": "top"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "(Optional) Set the number of elements to offset in the response. When both $top and $skip are specified, $skip is applied first",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        },
                        "x-ballerina-name": "skip"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Analysis job status and metadata",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyzeJobState"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AnalyzeJobState"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/entities/health/jobs/{jobId}": {
            "get": {
                "summary": "Get healthcare analysis job status and results",
                "description": "Get details of the healthcare prediction job specified by the jobId.",
                "operationId": "getHealthcareJob",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/JobId"
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "(Optional) Set the maximum number of results per task. When both $top and $skip are specified, $skip is applied first",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "maximum": 50,
                            "minimum": 1,
                            "type": "integer",
                            "default": 20
                        },
                        "x-ballerina-name": "top"
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "(Optional) Set the number of elements to offset in the response. When both $top and $skip are specified, $skip is applied first",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "minimum": 0,
                            "type": "integer",
                            "default": 0
                        },
                        "x-ballerina-name": "skip"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthcareJobState"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthcareJobState"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "summary": "Cancel healthcare prediction job",
                "description": "Cancel healthcare prediction job.",
                "operationId": "cancelHealthcareJob",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/JobId"
                    }
                ],
                "responses": {
                    "202": {
                        "description": "Cancel Job request has been received",
                        "headers": {
                            "Operation-Location": {
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {}
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/entities/health/jobs": {
            "post": {
                "summary": "Submit healthcare analysis job",
                "description": "Start a healthcare analysis job to recognize healthcare related entities (drugs, conditions, symptoms, etc) and their relations.",
                "operationId": "submitHealthcareJob",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ModelVersion"
                    },
                    {
                        "$ref": "#/components/parameters/StringIndexType"
                    },
                    {
                        "$ref": "#/components/parameters/LoggingOptOut"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/MultiLanguageInput"
                },
                "responses": {
                    "202": {
                        "description": "Accepted - call results in a link where the status of the submitted job can be checked via the GET operation",
                        "headers": {
                            "Operation-Location": {
                                "style": "simple",
                                "explode": false,
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {}
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false,
                "x-ms-long-running-operation": true
            }
        },
        "/entities/recognition/general": {
            "post": {
                "summary": "Named Entity Recognition",
                "description": "The API returns a list of general named entities in a given document. For the list of supported entity types, check <a href=\"https://aka.ms/taner\">Supported Entity Types in Text Analytics API</a>. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
                "operationId": "recognizeEntities",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ModelVersion"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    },
                    {
                        "$ref": "#/components/parameters/LoggingOptOut"
                    },
                    {
                        "$ref": "#/components/parameters/StringIndexType"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/MultiLanguageInput"
                },
                "responses": {
                    "200": {
                        "description": "A successful call results in a list of recognized entities returned for each valid document",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntitiesResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntitiesResult"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/entities/recognition/pii": {
            "post": {
                "summary": "Entities containing personal information",
                "description": "The API returns a list of entities with personal information (\\\"SSN\\\", \\\"Bank Account\\\" etc) in the document. For the list of supported entity types, check <a href=\"https://aka.ms/tanerpii\">Supported Entity Types in Text Analytics API</a>. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.\n",
                "operationId": "recognizePiiEntities",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ModelVersion"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    },
                    {
                        "$ref": "#/components/parameters/LoggingOptOut"
                    },
                    {
                        "name": "domain",
                        "in": "query",
                        "description": "(Optional) if specified, will set the PII domain to include only a subset of the entity categories. Possible values include: 'PHI', 'none'",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/StringIndexType"
                    },
                    {
                        "$ref": "#/components/parameters/PiiCategories"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/MultiLanguageInput"
                },
                "responses": {
                    "200": {
                        "description": "A successful call results in a list of entities containing personal information returned for each valid document",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PiiResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PiiResult"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/entities/linking": {
            "post": {
                "summary": "Linked entities from a well known knowledge base",
                "description": "The API returns a list of recognized entities with links to a well known knowledge base. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
                "operationId": "linkEntities",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ModelVersion"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    },
                    {
                        "$ref": "#/components/parameters/LoggingOptOut"
                    },
                    {
                        "$ref": "#/components/parameters/StringIndexType"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/MultiLanguageInput"
                },
                "responses": {
                    "200": {
                        "description": "A successful call results in a list of recognized entities with links to a well known knowledge base returned for each valid document",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityLinkingResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EntityLinkingResult"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/keyPhrases": {
            "post": {
                "summary": "Key Phrases",
                "description": "The API returns a list of strings denoting the key phrases in the input text. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
                "operationId": "extractKeyPhrases",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ModelVersion"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    },
                    {
                        "$ref": "#/components/parameters/LoggingOptOut"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/MultiLanguageInput"
                },
                "responses": {
                    "200": {
                        "description": "A successful response results in 0 or more key phrases identified in each valid document",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeyPhraseResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/KeyPhraseResult"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/languages": {
            "post": {
                "summary": "Detect Language",
                "description": "The API returns the detected language and a numeric score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true. See the <a href=\"https://aka.ms/talangs\">Supported languages in Text Analytics API</a> for the list of enabled languages.",
                "operationId": "detectLanguage",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ModelVersion"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    },
                    {
                        "$ref": "#/components/parameters/LoggingOptOut"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/LanguageInput"
                },
                "responses": {
                    "200": {
                        "description": "A successful call results in the detected language with the highest probability for each valid document",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LanguageResult"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/sentiment": {
            "post": {
                "summary": "Sentiment",
                "description": "The API returns a detailed sentiment analysis for the input text. The analysis is done in multiple levels of granularity, start from the a document level, down to sentence and key terms (targets and assessments).",
                "operationId": "analyzeSentiment",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/ModelVersion"
                    },
                    {
                        "$ref": "#/components/parameters/ShowStats"
                    },
                    {
                        "$ref": "#/components/parameters/LoggingOptOut"
                    },
                    {
                        "name": "opinionMining",
                        "in": "query",
                        "description": "(Optional) if set to true, response will contain not only sentiment prediction but also opinion mining (aspect-based sentiment analysis) results",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/StringIndexType"
                    }
                ],
                "requestBody": {
                    "$ref": "#/components/requestBodies/MultiLanguageInput"
                },
                "responses": {
                    "200": {
                        "description": "A successful call results in a document sentiment prediction, as well as sentiment scores for each sentiment class (Positive, Negative, and Neutral)",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SentimentResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SentimentResponse"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
        "schemas": {
            "LinkedEntity": {
                "required": [
                    "dataSource",
                    "language",
                    "matches",
                    "name",
                    "url"
                ],
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Entity Linking formal name"
                    },
                    "language": {
                        "type": "string",
                        "description": "Language used in the data source"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique identifier of the recognized entity from the data source"
                    },
                    "matches": {
                        "type": "array",
                        "description": "List of instances this entity appears in the text",
                        "items": {
                            "$ref": "#/components/schemas/Match"
                        }
                    },
                    "dataSource": {
                        "type": "string",
                        "description": "Data source used to extract entity linking, such as Wiki/Bing etc"
                    },
                    "bingId": {
                        "type": "string",
                        "description": "Bing Entity Search API unique identifier of the recognized entity"
                    },
                    "url": {
                        "type": "string",
                        "description": "URL for the entity's page from the data source"
                    }
                }
            },
            "Entity": {
                "required": [
                    "category",
                    "confidenceScore",
                    "length",
                    "offset",
                    "text"
                ],
                "type": "object",
                "properties": {
                    "confidenceScore": {
                        "type": "number",
                        "description": "Confidence score between 0 and 1 of the extracted entity",
                        "format": "double"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Start position for the entity text. Use of different 'stringIndexType' values can affect the offset returned",
                        "format": "int32"
                    },
                    "length": {
                        "type": "integer",
                        "description": "Length for the entity text. Use of different 'stringIndexType' values can affect the length returned",
                        "format": "int32"
                    },
                    "text": {
                        "type": "string",
                        "description": "Entity text as appears in the request"
                    },
                    "category": {
                        "type": "string",
                        "description": "Entity type"
                    },
                    "subcategory": {
                        "type": "string",
                        "description": "(Optional) Entity sub type"
                    }
                }
            },
            "StringIndexType": {
                "type": "string",
                "default": "TextElement_v8",
                "enum": [
                    "TextElement_v8",
                    "UnicodeCodePoint",
                    "Utf16CodeUnit"
                ],
                "x-ms-enum": {
                    "name": "StringIndexType",
                    "modelAsString": true,
                    "values": [
                        {
                            "value": "TextElement_v8",
                            "description": "Returned offset and length values will correspond to TextElements (Graphemes and Grapheme clusters) confirming to the Unicode 8.0.0 standard. Use this option if your application is written in .Net Framework or .Net Core and you will be using StringInfo."
                        },
                        {
                            "value": "UnicodeCodePoint",
                            "description": "Returned offset and length values will correspond to Unicode code points. Use this option if your application is written in a language that support Unicode, for example Python."
                        },
                        {
                            "value": "Utf16CodeUnit",
                            "description": "Returned offset and length values will correspond to UTF-16 code units. Use this option if your application is written in a language that support Unicode, for example Java, JavaScript."
                        }
                    ]
                }
            },
            "HealthcareAssertion": {
                "type": "object",
                "properties": {
                    "conditionality": {
                        "type": "string",
                        "description": "Describes any conditionality on the entity",
                        "enum": [
                            "hypothetical",
                            "conditional"
                        ],
                        "x-ms-enum": {
                            "name": "Conditionality",
                            "modelAsString": false
                        }
                    },
                    "certainty": {
                        "type": "string",
                        "description": "Describes the entities certainty and polarity",
                        "enum": [
                            "positive",
                            "positivePossible",
                            "neutralPossible",
                            "negativePossible",
                            "negative"
                        ],
                        "x-ms-enum": {
                            "name": "Certainty",
                            "modelAsString": false
                        }
                    },
                    "association": {
                        "type": "string",
                        "description": "Describes if the entity is the subject of the text or if it describes someone else",
                        "enum": [
                            "subject",
                            "other"
                        ],
                        "x-ms-enum": {
                            "name": "Association",
                            "modelAsString": false
                        }
                    }
                }
            },
            "RequestStatistics": {
                "required": [
                    "documentsCount",
                    "erroneousDocumentsCount",
                    "transactionsCount",
                    "validDocumentsCount"
                ],
                "type": "object",
                "properties": {
                    "documentsCount": {
                        "type": "integer",
                        "description": "Number of documents submitted in the request",
                        "format": "int32"
                    },
                    "erroneousDocumentsCount": {
                        "type": "integer",
                        "description": "Number of invalid documents. This includes empty, over-size limit or non-supported languages documents",
                        "format": "int32"
                    },
                    "validDocumentsCount": {
                        "type": "integer",
                        "description": "Number of valid documents. This excludes empty, over-size limit or non-supported languages documents",
                        "format": "int32"
                    },
                    "transactionsCount": {
                        "type": "integer",
                        "description": "Number of transactions for the request",
                        "format": "int64"
                    }
                },
                "description": "if showStats=true was specified in the request this field will contain information about the request payload"
            },
            "TasksStateTasksSentimentAnalysisTasks": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TaskState"
                    },
                    {
                        "$ref": "#/components/schemas/SentimentTaskResult"
                    }
                ]
            },
            "InnerError": {
                "required": [
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Error code",
                        "enum": [
                            "InvalidParameterValue",
                            "InvalidRequestBodyFormat",
                            "EmptyRequest",
                            "MissingInputRecords",
                            "InvalidDocument",
                            "ModelVersionIncorrect",
                            "InvalidDocumentBatch",
                            "UnsupportedLanguageCode",
                            "InvalidCountryHint"
                        ],
                        "x-ms-enum": {
                            "name": "InnerErrorCodeValue",
                            "modelAsString": true
                        }
                    },
                    "innererror": {
                        "$ref": "#/components/schemas/InnerError"
                    },
                    "details": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Error details"
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message"
                    },
                    "target": {
                        "type": "string",
                        "description": "Error target"
                    }
                }
            },
            "AnalysisInput": {
                "required": [
                    "analysisInput"
                ],
                "type": "object",
                "properties": {
                    "analysisInput": {
                        "$ref": "#/components/schemas/MultiLanguageBatchInput"
                    }
                }
            },
            "AnalyzeBatchInput": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/JobDescriptor"
                    },
                    {
                        "$ref": "#/components/schemas/AnalysisInput"
                    },
                    {
                        "$ref": "#/components/schemas/JobManifest"
                    }
                ]
            },
            "HealthcareEntity": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/HealthcareEntityProperties"
                    },
                    {
                        "$ref": "#/components/schemas/HealthcareLinkingProperties"
                    }
                ]
            },
            "Pagination": {
                "type": "object",
                "properties": {
                    "@nextLink": {
                        "type": "string",
                        "x-ballerina-name": "atNextLink"
                    }
                }
            },
            "DocumentLanguage": {
                "required": [
                    "detectedLanguage",
                    "id",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "warnings": {
                        "type": "array",
                        "description": "Warnings encountered while processing document",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsWarning"
                        }
                    },
                    "detectedLanguage": {
                        "$ref": "#/components/schemas/DetectedLanguage"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique, non-empty document identifier"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/DocumentStatistics"
                    }
                }
            },
            "TargetRelation": {
                "required": [
                    "ref",
                    "relationType"
                ],
                "type": "object",
                "properties": {
                    "relationType": {
                        "type": "string",
                        "description": "The type related to the target",
                        "enum": [
                            "assessment",
                            "target"
                        ],
                        "x-ms-enum": {
                            "name": "TargetRelationType",
                            "modelAsString": false
                        }
                    },
                    "ref": {
                        "type": "string",
                        "description": "The JSON pointer indicating the linked object"
                    }
                }
            },
            "KeyPhrasesTaskParameters": {
                "type": "object",
                "properties": {
                    "loggingOptOut": {
                        "type": "boolean",
                        "default": false
                    },
                    "model-version": {
                        "type": "string",
                        "default": "latest",
                        "x-ballerina-name": "modelVersion"
                    }
                }
            },
            "HealthcareJobState": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/JobMetadata"
                    },
                    {
                        "$ref": "#/components/schemas/HealthcareTaskResult"
                    },
                    {
                        "$ref": "#/components/schemas/Pagination"
                    }
                ]
            },
            "PiiCategories": {
                "uniqueItems": true,
                "type": "array",
                "description": "(Optional) describes the PII categories to return",
                "items": {
                    "type": "string",
                    "enum": [
                        "ABARoutingNumber",
                        "ARNationalIdentityNumber",
                        "AUBankAccountNumber",
                        "AUDriversLicenseNumber",
                        "AUMedicalAccountNumber",
                        "AUPassportNumber",
                        "AUTaxFileNumber",
                        "AUBusinessNumber",
                        "AUCompanyNumber",
                        "ATIdentityCard",
                        "ATTaxIdentificationNumber",
                        "ATValueAddedTaxNumber",
                        "AzureDocumentDBAuthKey",
                        "AzureIAASDatabaseConnectionAndSQLString",
                        "AzureIoTConnectionString",
                        "AzurePublishSettingPassword",
                        "AzureRedisCacheString",
                        "AzureSAS",
                        "AzureServiceBusString",
                        "AzureStorageAccountKey",
                        "AzureStorageAccountGeneric",
                        "BENationalNumber",
                        "BENationalNumberV2",
                        "BEValueAddedTaxNumber",
                        "BRCPFNumber",
                        "BRLegalEntityNumber",
                        "BRNationalIDRG",
                        "BGUniformCivilNumber",
                        "CABankAccountNumber",
                        "CADriversLicenseNumber",
                        "CAHealthServiceNumber",
                        "CAPassportNumber",
                        "CAPersonalHealthIdentification",
                        "CASocialInsuranceNumber",
                        "CLIdentityCardNumber",
                        "CNResidentIdentityCardNumber",
                        "CreditCardNumber",
                        "HRIdentityCardNumber",
                        "HRNationalIDNumber",
                        "HRPersonalIdentificationNumber",
                        "HRPersonalIdentificationOIBNumberV2",
                        "CYIdentityCard",
                        "CYTaxIdentificationNumber",
                        "CZPersonalIdentityNumber",
                        "CZPersonalIdentityV2",
                        "DKPersonalIdentificationNumber",
                        "DKPersonalIdentificationV2",
                        "DrugEnforcementAgencyNumber",
                        "EEPersonalIdentificationCode",
                        "EUDebitCardNumber",
                        "EUDriversLicenseNumber",
                        "EUGPSCoordinates",
                        "EUNationalIdentificationNumber",
                        "EUPassportNumber",
                        "EUSocialSecurityNumber",
                        "EUTaxIdentificationNumber",
                        "FIEuropeanHealthNumber",
                        "FINationalID",
                        "FINationalIDV2",
                        "FIPassportNumber",
                        "FRDriversLicenseNumber",
                        "FRHealthInsuranceNumber",
                        "FRNationalID",
                        "FRPassportNumber",
                        "FRSocialSecurityNumber",
                        "FRTaxIdentificationNumber",
                        "FRValueAddedTaxNumber",
                        "DEDriversLicenseNumber",
                        "DEPassportNumber",
                        "DEIdentityCardNumber",
                        "DETaxIdentificationNumber",
                        "DEValueAddedNumber",
                        "GRNationalIDCard",
                        "GRNationalIDV2",
                        "GRTaxIdentificationNumber",
                        "HKIdentityCardNumber",
                        "HUValueAddedNumber",
                        "HUPersonalIdentificationNumber",
                        "HUTaxIdentificationNumber",
                        "INPermanentAccount",
                        "INUniqueIdentificationNumber",
                        "IDIdentityCardNumber",
                        "InternationalBankingAccountNumber",
                        "IEPersonalPublicServiceNumber",
                        "IEPersonalPublicServiceNumberV2",
                        "ILBankAccountNumber",
                        "ILNationalID",
                        "ITDriversLicenseNumber",
                        "ITFiscalCode",
                        "ITValueAddedTaxNumber",
                        "JPBankAccountNumber",
                        "JPDriversLicenseNumber",
                        "JPPassportNumber",
                        "JPResidentRegistrationNumber",
                        "JPSocialInsuranceNumber",
                        "JPMyNumberCorporate",
                        "JPMyNumberPersonal",
                        "JPResidenceCardNumber",
                        "LVPersonalCode",
                        "LTPersonalCode",
                        "LUNationalIdentificationNumberNatural",
                        "LUNationalIdentificationNumberNonNatural",
                        "MYIdentityCardNumber",
                        "MTIdentityCardNumber",
                        "MTTaxIDNumber",
                        "NLCitizensServiceNumber",
                        "NLCitizensServiceNumberV2",
                        "NLTaxIdentificationNumber",
                        "NLValueAddedTaxNumber",
                        "NZBankAccountNumber",
                        "NZDriversLicenseNumber",
                        "NZInlandRevenueNumber",
                        "NZMinistryOfHealthNumber",
                        "NZSocialWelfareNumber",
                        "NOIdentityNumber",
                        "PHUnifiedMultiPurposeIDNumber",
                        "PLIdentityCard",
                        "PLNationalID",
                        "PLNationalIDV2",
                        "PLPassportNumber",
                        "PLTaxIdentificationNumber",
                        "PLREGONNumber",
                        "PTCitizenCardNumber",
                        "PTCitizenCardNumberV2",
                        "PTTaxIdentificationNumber",
                        "ROPersonalNumericalCode",
                        "RUPassportNumberDomestic",
                        "RUPassportNumberInternational",
                        "SANationalID",
                        "SGNationalRegistrationIdentityCardNumber",
                        "SKPersonalNumber",
                        "SITaxIdentificationNumber",
                        "SIUniqueMasterCitizenNumber",
                        "ZAIdentificationNumber",
                        "KRResidentRegistrationNumber",
                        "ESDNI",
                        "ESSocialSecurityNumber",
                        "ESTaxIdentificationNumber",
                        "SQLServerConnectionString",
                        "SENationalID",
                        "SENationalIDV2",
                        "SEPassportNumber",
                        "SETaxIdentificationNumber",
                        "SWIFTCode",
                        "CHSocialSecurityNumber",
                        "TWNationalID",
                        "TWPassportNumber",
                        "TWResidentCertificate",
                        "THPopulationIdentificationCode",
                        "TRNationalIdentificationNumber",
                        "UKDriversLicenseNumber",
                        "UKElectoralRollNumber",
                        "UKNationalHealthNumber",
                        "UKNationalInsuranceNumber",
                        "UKUniqueTaxpayerNumber",
                        "USUKPassportNumber",
                        "USBankAccountNumber",
                        "USDriversLicenseNumber",
                        "USIndividualTaxpayerIdentification",
                        "USSocialSecurityNumber",
                        "UAPassportNumberDomestic",
                        "UAPassportNumberInternational",
                        "Organization",
                        "Email",
                        "URL",
                        "Age",
                        "PhoneNumber",
                        "IPAddress",
                        "Date",
                        "Person",
                        "Address",
                        "All",
                        "Default"
                    ],
                    "x-ms-enum": {
                        "name": "PiiCategory",
                        "modelAsString": true
                    }
                }
            },
            "DocumentEntities": {
                "required": [
                    "entities",
                    "id",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "entities": {
                        "type": "array",
                        "description": "Recognized entities in the document",
                        "items": {
                            "$ref": "#/components/schemas/Entity"
                        }
                    },
                    "warnings": {
                        "type": "array",
                        "description": "Warnings encountered while processing document",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsWarning"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique, non-empty document identifier"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/DocumentStatistics"
                    }
                }
            },
            "JobManifestTasks": {
                "type": "object",
                "properties": {
                    "entityRecognitionTasks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EntitiesTask"
                        }
                    },
                    "entityRecognitionPiiTasks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/PiiTask"
                        }
                    },
                    "entityLinkingTasks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/EntityLinkingTask"
                        }
                    },
                    "keyPhraseExtractionTasks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/KeyPhrasesTask"
                        }
                    },
                    "sentimentAnalysisTasks": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SentimentAnalysisTask"
                        }
                    }
                },
                "description": "The set of tasks to execute on the input documents. Cannot specify the same task more than once"
            },
            "PiiTask": {
                "type": "object",
                "properties": {
                    "taskName": {
                        "type": "string"
                    },
                    "parameters": {
                        "$ref": "#/components/schemas/PiiTaskParameters"
                    }
                }
            },
            "EntityLinkingTaskResult": {
                "type": "object",
                "properties": {
                    "results": {
                        "$ref": "#/components/schemas/EntityLinkingResult"
                    }
                }
            },
            "SentimentAnalysisTaskParameters": {
                "type": "object",
                "properties": {
                    "opinionMining": {
                        "type": "boolean",
                        "default": false
                    },
                    "loggingOptOut": {
                        "type": "boolean",
                        "default": false
                    },
                    "model-version": {
                        "type": "string",
                        "default": "latest",
                        "x-ballerina-name": "modelVersion"
                    },
                    "stringIndexType": {
                        "$ref": "#/components/schemas/StringIndexType"
                    }
                }
            },
            "MultiLanguageBatchInput": {
                "required": [
                    "documents"
                ],
                "type": "object",
                "properties": {
                    "documents": {
                        "type": "array",
                        "description": "The set of documents to process as part of this batch",
                        "items": {
                            "$ref": "#/components/schemas/MultiLanguageInput"
                        }
                    }
                },
                "description": "Contains a set of input documents to be analyzed by the service"
            },
            "SentimentConfidenceScorePerLabel": {
                "required": [
                    "negative",
                    "neutral",
                    "positive"
                ],
                "type": "object",
                "properties": {
                    "negative": {
                        "type": "number",
                        "format": "double"
                    },
                    "neutral": {
                        "type": "number",
                        "format": "double"
                    },
                    "positive": {
                        "type": "number",
                        "format": "double"
                    }
                },
                "description": "Represents the confidence scores between 0 and 1 across all sentiment classes: positive, neutral, negative"
            },
            "JobManifest": {
                "required": [
                    "tasks"
                ],
                "type": "object",
                "properties": {
                    "tasks": {
                        "$ref": "#/components/schemas/JobManifestTasks"
                    }
                }
            },
            "PiiTaskResult": {
                "type": "object",
                "properties": {
                    "results": {
                        "$ref": "#/components/schemas/PiiResult"
                    }
                }
            },
            "AnalyzeJobMetadata": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/JobMetadata"
                    },
                    {
                        "$ref": "#/components/schemas/AnalyzeJobDisplayName"
                    }
                ]
            },
            "TargetConfidenceScoreLabel": {
                "required": [
                    "negative",
                    "positive"
                ],
                "type": "object",
                "properties": {
                    "negative": {
                        "type": "number",
                        "format": "double"
                    },
                    "positive": {
                        "type": "number",
                        "format": "double"
                    }
                },
                "description": "Represents the confidence scores across all sentiment classes: positive, neutral, negative"
            },
            "HealthcareTaskResult": {
                "type": "object",
                "properties": {
                    "results": {
                        "$ref": "#/components/schemas/HealthcareResult"
                    },
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsError"
                        }
                    }
                }
            },
            "EntityLinkingResult": {
                "required": [
                    "documents",
                    "errors",
                    "modelVersion"
                ],
                "type": "object",
                "properties": {
                    "documents": {
                        "type": "array",
                        "description": "Response by document",
                        "items": {
                            "$ref": "#/components/schemas/DocumentLinkedEntities"
                        }
                    },
                    "modelVersion": {
                        "type": "string",
                        "description": "This field indicates which model is used for scoring"
                    },
                    "errors": {
                        "type": "array",
                        "description": "Errors by document id",
                        "items": {
                            "$ref": "#/components/schemas/DocumentError"
                        }
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/RequestStatistics"
                    }
                }
            },
            "DetectedLanguage": {
                "required": [
                    "confidenceScore",
                    "iso6391Name",
                    "name"
                ],
                "type": "object",
                "properties": {
                    "confidenceScore": {
                        "type": "number",
                        "description": "A confidence score between 0 and 1. Scores close to 1 indicate 100% certainty that the identified language is true",
                        "format": "double"
                    },
                    "iso6391Name": {
                        "type": "string",
                        "description": "A two letter representation of the detected language according to the ISO 639-1 standard (e.g. en, fr)"
                    },
                    "name": {
                        "type": "string",
                        "description": "Long name of a detected language (e.g. English, French)"
                    }
                }
            },
            "TasksState": {
                "required": [
                    "tasks"
                ],
                "type": "object",
                "properties": {
                    "tasks": {
                        "$ref": "#/components/schemas/TasksStateTasks"
                    }
                }
            },
            "AnalyzeJobErrorsAndStatistics": {
                "type": "object",
                "properties": {
                    "errors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsError"
                        }
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/RequestStatistics"
                    }
                }
            },
            "TasksStateTasksEntityRecognitionTasks": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TaskState"
                    },
                    {
                        "$ref": "#/components/schemas/EntitiesTaskResult"
                    }
                ]
            },
            "HealthcareEntityProperties": {
                "required": [
                    "category",
                    "confidenceScore",
                    "length",
                    "offset",
                    "text"
                ],
                "type": "object",
                "properties": {
                    "confidenceScore": {
                        "type": "number",
                        "description": "Confidence score between 0 and 1 of the extracted entity",
                        "format": "double"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Start position for the entity text. Use of different 'stringIndexType' values can affect the offset returned",
                        "format": "int32"
                    },
                    "length": {
                        "type": "integer",
                        "description": "Length for the entity text. Use of different 'stringIndexType' values can affect the length returned",
                        "format": "int32"
                    },
                    "text": {
                        "type": "string",
                        "description": "Entity text as appears in the request"
                    },
                    "category": {
                        "type": "string",
                        "description": "Healthcare Entity Category",
                        "enum": [
                            "BodyStructure",
                            "Age",
                            "Gender",
                            "ExaminationName",
                            "Date",
                            "Direction",
                            "Frequency",
                            "MeasurementValue",
                            "MeasurementUnit",
                            "RelationalOperator",
                            "Time",
                            "GeneOrProtein",
                            "Variant",
                            "AdministrativeEvent",
                            "CareEnvironment",
                            "HealthcareProfession",
                            "Diagnosis",
                            "SymptomOrSign",
                            "ConditionQualifier",
                            "MedicationClass",
                            "MedicationName",
                            "Dosage",
                            "MedicationForm",
                            "MedicationRoute",
                            "FamilyRelation",
                            "TreatmentName"
                        ],
                        "x-ms-enum": {
                            "name": "healthcareEntityCategory",
                            "modelAsString": true
                        }
                    },
                    "subcategory": {
                        "type": "string",
                        "description": "(Optional) Entity sub type"
                    }
                }
            },
            "DocumentError": {
                "required": [
                    "error",
                    "id"
                ],
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Document Id"
                    },
                    "error": {
                        "$ref": "#/components/schemas/TextAnalyticsError"
                    }
                }
            },
            "TextAnalyticsError": {
                "required": [
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Error code",
                        "enum": [
                            "InvalidRequest",
                            "InvalidArgument",
                            "InternalServerError",
                            "ServiceUnavailable",
                            "NotFound"
                        ],
                        "x-ms-enum": {
                            "name": "ErrorCodeValue",
                            "modelAsString": true
                        }
                    },
                    "innererror": {
                        "$ref": "#/components/schemas/InnerError"
                    },
                    "details": {
                        "type": "array",
                        "description": "Details about specific errors that led to this reported error",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsError"
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message"
                    },
                    "target": {
                        "type": "string",
                        "description": "Error target"
                    }
                }
            },
            "HealthcareRelationEntity": {
                "required": [
                    "ref",
                    "role"
                ],
                "type": "object",
                "properties": {
                    "ref": {
                        "type": "string",
                        "description": "Reference link object, using a JSON pointer RFC 6901 (URI Fragment Identifier Representation), pointing to the entity "
                    },
                    "role": {
                        "type": "string",
                        "description": "Role of entity in the relationship. For example: 'CD20-positive diffuse large B-cell lymphoma' has the following entities with their roles in parenthesis:  CD20 (GeneOrProtein), Positive (Expression), diffuse large B-cell lymphoma (Diagnosis)"
                    }
                }
            },
            "KeyPhrasesTask": {
                "type": "object",
                "properties": {
                    "taskName": {
                        "type": "string"
                    },
                    "parameters": {
                        "$ref": "#/components/schemas/KeyPhrasesTaskParameters"
                    }
                }
            },
            "LanguageBatchInput": {
                "required": [
                    "documents"
                ],
                "type": "object",
                "properties": {
                    "documents": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/LanguageInput"
                        }
                    }
                }
            },
            "PiiTaskParameters": {
                "type": "object",
                "properties": {
                    "domain": {
                        "type": "string",
                        "default": "none",
                        "enum": [
                            "phi",
                            "none"
                        ]
                    },
                    "piiCategories": {
                        "$ref": "#/components/schemas/PiiCategories"
                    },
                    "loggingOptOut": {
                        "type": "boolean",
                        "default": true
                    },
                    "model-version": {
                        "type": "string",
                        "default": "latest",
                        "x-ballerina-name": "modelVersion"
                    },
                    "stringIndexType": {
                        "$ref": "#/components/schemas/StringIndexType"
                    }
                }
            },
            "AnalyzeJobState": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/AnalyzeJobMetadata"
                    },
                    {
                        "$ref": "#/components/schemas/TasksState"
                    },
                    {
                        "$ref": "#/components/schemas/AnalyzeJobErrorsAndStatistics"
                    },
                    {
                        "$ref": "#/components/schemas/Pagination"
                    }
                ]
            },
            "TextAnalyticsWarning": {
                "required": [
                    "code",
                    "message"
                ],
                "type": "object",
                "properties": {
                    "targetRef": {
                        "type": "string",
                        "description": "A JSON pointer reference indicating the target object"
                    },
                    "code": {
                        "type": "string",
                        "description": "Error code",
                        "enum": [
                            "LongWordsInDocument",
                            "DocumentTruncated"
                        ],
                        "x-ms-enum": {
                            "name": "WarningCodeValue",
                            "modelAsString": true
                        }
                    },
                    "message": {
                        "type": "string",
                        "description": "Warning message"
                    }
                }
            },
            "TasksStateTasksKeyPhraseExtractionTasks": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TaskState"
                    },
                    {
                        "$ref": "#/components/schemas/KeyPhraseTaskResult"
                    }
                ]
            },
            "JobMetadata": {
                "required": [
                    "createdDateTime",
                    "jobId",
                    "lastUpdateDateTime",
                    "status"
                ],
                "type": "object",
                "properties": {
                    "jobId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "lastUpdateDateTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "expirationDateTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "createdDateTime": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "status": {
                        "type": "string",
                        "enum": [
                            "notStarted",
                            "running",
                            "succeeded",
                            "failed",
                            "cancelled",
                            "cancelling"
                        ],
                        "x-ms-enum": {
                            "modelAsString": false,
                            "name": "State"
                        }
                    }
                }
            },
            "LanguageResult": {
                "required": [
                    "documents",
                    "errors",
                    "modelVersion"
                ],
                "type": "object",
                "properties": {
                    "documents": {
                        "type": "array",
                        "description": "Response by document",
                        "items": {
                            "$ref": "#/components/schemas/DocumentLanguage"
                        }
                    },
                    "modelVersion": {
                        "type": "string",
                        "description": "This field indicates which model is used for scoring"
                    },
                    "errors": {
                        "type": "array",
                        "description": "Errors by document id",
                        "items": {
                            "$ref": "#/components/schemas/DocumentError"
                        }
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/RequestStatistics"
                    }
                }
            },
            "JobDescriptor": {
                "type": "object",
                "properties": {
                    "displayName": {
                        "type": "string",
                        "description": "Optional display name for the analysis job"
                    }
                }
            },
            "HealthcareLinkingProperties": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "Preferred name for the entity. Example: 'histologically' would have a 'name' of 'histologic'"
                    },
                    "assertion": {
                        "$ref": "#/components/schemas/HealthcareAssertion"
                    },
                    "links": {
                        "type": "array",
                        "description": "Entity references in known data sources",
                        "items": {
                            "$ref": "#/components/schemas/HealthcareEntityLink"
                        }
                    }
                }
            },
            "EntitiesTaskParameters": {
                "type": "object",
                "properties": {
                    "loggingOptOut": {
                        "type": "boolean",
                        "default": false
                    },
                    "model-version": {
                        "type": "string",
                        "default": "latest",
                        "x-ballerina-name": "modelVersion"
                    },
                    "stringIndexType": {
                        "$ref": "#/components/schemas/StringIndexType"
                    }
                }
            },
            "SentenceTarget": {
                "required": [
                    "confidenceScores",
                    "length",
                    "offset",
                    "relations",
                    "sentiment",
                    "text"
                ],
                "type": "object",
                "properties": {
                    "sentiment": {
                        "type": "string",
                        "description": "Targeted sentiment in the sentence",
                        "enum": [
                            "positive",
                            "mixed",
                            "negative"
                        ],
                        "x-ms-enum": {
                            "name": "TokenSentimentValue",
                            "modelAsString": false
                        }
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The target offset from the start of the sentence",
                        "format": "int32"
                    },
                    "length": {
                        "type": "integer",
                        "description": "The length of the target",
                        "format": "int32"
                    },
                    "text": {
                        "type": "string",
                        "description": "The target text detected"
                    },
                    "relations": {
                        "type": "array",
                        "description": "The array of either assessment or target objects which is related to the target",
                        "items": {
                            "$ref": "#/components/schemas/TargetRelation"
                        }
                    },
                    "confidenceScores": {
                        "$ref": "#/components/schemas/TargetConfidenceScoreLabel"
                    }
                }
            },
            "PiiDocumentEntities": {
                "required": [
                    "entities",
                    "id",
                    "redactedText",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "redactedText": {
                        "type": "string",
                        "description": "Returns redacted text"
                    },
                    "entities": {
                        "type": "array",
                        "description": "Recognized entities in the document",
                        "items": {
                            "$ref": "#/components/schemas/Entity"
                        }
                    },
                    "warnings": {
                        "type": "array",
                        "description": "Warnings encountered while processing document",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsWarning"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique, non-empty document identifier"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/DocumentStatistics"
                    }
                }
            },
            "EntitiesTask": {
                "type": "object",
                "properties": {
                    "taskName": {
                        "type": "string"
                    },
                    "parameters": {
                        "$ref": "#/components/schemas/EntitiesTaskParameters"
                    }
                }
            },
            "Match": {
                "required": [
                    "confidenceScore",
                    "length",
                    "offset",
                    "text"
                ],
                "type": "object",
                "properties": {
                    "confidenceScore": {
                        "type": "number",
                        "description": "If a well known item is recognized, a decimal number denoting the confidence level between 0 and 1 will be returned",
                        "format": "double"
                    },
                    "offset": {
                        "type": "integer",
                        "description": "Start position for the entity match text",
                        "format": "int32"
                    },
                    "length": {
                        "type": "integer",
                        "description": "Length for the entity match text",
                        "format": "int32"
                    },
                    "text": {
                        "type": "string",
                        "description": "Entity text as appears in the request"
                    }
                }
            },
            "HealthcareRelation": {
                "required": [
                    "entities",
                    "relationType"
                ],
                "type": "object",
                "properties": {
                    "relationType": {
                        "type": "string",
                        "description": "Type of relation. Examples include: `DosageOfMedication` or 'FrequencyOfMedication', etc",
                        "enum": [
                            "Abbreviation",
                            "DirectionOfBodyStructure",
                            "DirectionOfCondition",
                            "DirectionOfExamination",
                            "DirectionOfTreatment",
                            "DosageOfMedication",
                            "FormOfMedication",
                            "FrequencyOfMedication",
                            "FrequencyOfTreatment",
                            "QualifierOfCondition",
                            "RelationOfExamination",
                            "RouteOfMedication",
                            "TimeOfCondition",
                            "TimeOfEvent",
                            "TimeOfExamination",
                            "TimeOfMedication",
                            "TimeOfTreatment",
                            "UnitOfCondition",
                            "UnitOfExamination",
                            "ValueOfCondition",
                            "ValueOfExamination"
                        ],
                        "x-ms-enum": {
                            "name": "relationType",
                            "modelAsString": true
                        }
                    },
                    "entities": {
                        "type": "array",
                        "description": "The entities in the relation",
                        "items": {
                            "$ref": "#/components/schemas/HealthcareRelationEntity"
                        }
                    }
                },
                "description": "Every relation is an entity graph of a certain relationType, where all entities are connected and have specific roles within the relation context"
            },
            "EntitiesTaskResult": {
                "type": "object",
                "properties": {
                    "results": {
                        "$ref": "#/components/schemas/EntitiesResult"
                    }
                }
            },
            "SentimentResponse": {
                "required": [
                    "documents",
                    "errors",
                    "modelVersion"
                ],
                "type": "object",
                "properties": {
                    "documents": {
                        "type": "array",
                        "description": "Sentiment analysis per document",
                        "items": {
                            "$ref": "#/components/schemas/DocumentSentiment"
                        }
                    },
                    "modelVersion": {
                        "type": "string",
                        "description": "This field indicates which model is used for scoring"
                    },
                    "errors": {
                        "type": "array",
                        "description": "Errors by document id",
                        "items": {
                            "$ref": "#/components/schemas/DocumentError"
                        }
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/RequestStatistics"
                    }
                }
            },
            "SentenceSentiment": {
                "required": [
                    "confidenceScores",
                    "length",
                    "offset",
                    "sentiment",
                    "text"
                ],
                "type": "object",
                "properties": {
                    "sentiment": {
                        "type": "string",
                        "description": "The predicted Sentiment for the sentence",
                        "enum": [
                            "positive",
                            "neutral",
                            "negative"
                        ],
                        "x-ms-enum": {
                            "name": "SentenceSentimentValue",
                            "modelAsString": false
                        }
                    },
                    "assessments": {
                        "type": "array",
                        "description": "The array of assessments for the sentence",
                        "items": {
                            "$ref": "#/components/schemas/SentenceAssessment"
                        }
                    },
                    "offset": {
                        "type": "integer",
                        "description": "The sentence offset from the start of the document",
                        "format": "int32"
                    },
                    "length": {
                        "type": "integer",
                        "description": "The length of the sentence",
                        "format": "int32"
                    },
                    "text": {
                        "type": "string",
                        "description": "The sentence text"
                    },
                    "targets": {
                        "type": "array",
                        "description": "The array of sentence targets for the sentence",
                        "items": {
                            "$ref": "#/components/schemas/SentenceTarget"
                        }
                    },
                    "confidenceScores": {
                        "$ref": "#/components/schemas/SentimentConfidenceScorePerLabel"
                    }
                }
            },
            "TasksStateTasksEntityRecognitionPiiTasks": {
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/TaskState"
                    },
                    {
                        "$ref": "#/components/schemas/PiiTaskResult"
                    }
                ]
            },
            "DocumentSentiment": {
                "required": [
                    "confidenceScores",
                    "id",
                    "sentences",
                    "sentiment",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "sentiment": {
                        "type": "string",
                        "description": "Predicted sentiment for document (Negative, Neutral, Positive, or Mixed)",
                        "enum": [
                            "positive",
                            "neutral",
                            "negative",
                            "mixed"
                        ],
                        "x-ms-enum": {
                            "name": "DocumentSentimentValue",
                            "modelAsString": false
                        }
                    },
                    "sentences": {
                        "type": "array",
                        "description": "Sentence level sentiment analysis",
                        "items": {
                            "$ref": "#/components/schemas/SentenceSentiment"
                        }
                    },
                    "warnings": {
                        "type": "array",
                        "description": "Warnings encountered while processing document",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsWarning"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique, non-empty document identifier"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/DocumentStatistics"
                    },
                    "confidenceScores": {
                        "$ref": "#/components/schemas/SentimentConfidenceScorePerLabel"
                    }
                }
            },
            "DocumentLinkedEntities": {
                "required": [
                    "entities",
                    "id",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "entities": {
                        "type": "array",
                        "description": "Recognized well known entities in the document",
                        "items": {
                            "$ref": "#/components/schemas/LinkedEntity"
                        }
                    },
                    "warnings": {
                        "type": "array",
                        "description": "Warnings encountered while processing document",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsWarning"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique, non-empty document identifier"
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/DocumentStatistics"
                    }
                }
            },
            "DocumentHealthcareEntities": {
                "required": [
                    "entities",
                    "id",
                    "relations",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "entities": {
                        "type": "array",
                        "description": "Healthcare entities",
                        "items": {
                            "$ref": "#/components/schemas/HealthcareEntity"
                        }
                    },
                    "warnings": {
                        "type": "array",
                        "description": "Warnings encountered while processing document",
                        "items": {
                            "$ref": "#/components/schemas/TextAnalyticsWarning"
                        }
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique, non-empty document identifier"
                    },
                    "relations": {
                        "type": "array",
                        "description": "Healthcare entity relations",
                        "items": {
                            "$ref": "#/components/schemas/HealthcareRelation"
                        }
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/DocumentStatistics"
                    }
                }
            },
            "AnalyzeJobDisplayName": {
                "type": "object",
                "properties": {
                    "displayName": {
                        "type": "string"
                    }
                }
            },
            "KeyPhraseResult": {
                "required": [
                    "documents",
                    "errors",
                    "modelVersion"
                ],
                "type": "object",
                "properties": {
                    "documents": {
                        "type": "array",
                        "description": "Response by document",
                        "items": {
                            "$ref": "#/components/schemas/DocumentKeyPhrases"
                        }
                    },
                    "modelVersion": {
                        "type": "string",
                        "description": "This field indicates which model is used for scoring"
                    },
                    "errors": {
                        "type": "array",
                        "description": "Errors by document id",
                        "items": {
                            "$ref": "#/components/schemas/DocumentError"
                        }
                    },
                    "statistics": {
                        "$ref": "#/components/schemas/RequestStatistics"
                    }
                }
            },
            "LanguageInput": {
                "required": [
                    "id",
                    "text"
                ],
                "type": "object",
                "properties": {
                    "countryHint": {
                        "type": "string"
                    },
                    "id": {
                        "type": "string",
                        "description": "Unique, non-empty document identifier"
                    },
                    "text": {
                        "type": "string"
                    }
                }
            },
            "DocumentStatistics": {
                "required": [
                    "charactersCount",
                    "transactionsCount"
                ],
                "type": "object",
                "properties": {
                    "charactersCount": {
                        "type": "integer",
                        "description": "Number of text elements recognized in the document",
                        "format": "int32"
                    },
                    "transactionsCount": {
                        "type": "integer",
                        "description": "Number of transactions for the document",
                        "format": "int32"
                    }
                },
                "description": "if showStats=true was specified in the request this field will contain information about the document payload"
            },
            "SentimentTaskResult": {
                "type": "object",
                "properties": {
                    "results": {
                        "$ref": "#/components/schemas/SentimentResponse"
                    }
                }
            },
            "DocumentKeyPhrases": {
                "required": [
                    "id",
                    "keyPhrases",
                    "warnings"
                ],
                "type": "object",
                "properties": {
                    "keyPhrases": {
                        "type": "array",
[...]
